* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  background-image: url('https://wallpaperaccess.com/full/187161.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
